# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# IDE
.idea/

# Virtualenv
.venv/

# Runtime data
Frontend/data/
Backend/data/
Backend/poses/
Backend/logs/
Frontend/logs/

# Misc
Testing/testrecording.mp3
Testing/api_key_gemini.txt
kill_port.txt
