**/__pycache__/
**/*.pyc
**/*.pyo
/.venv
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/
/Testing/testrecording.mp3
/Testing/api_key_gemini.txt
/Backend/logs/
/Frontend/logs/
/Testing/Backend
kill_port.txt